doctype html
html
  head
  link(rel="stylesheet", type="text/css", href="screen.css")
  title H.OS
  body
    .wallpaper
      h1(style="margin-bottom:20px;font-weight:lighter;font-size:14px;") H.OS
      input#demo(type="text")

  h1.ws(style="font-weight:lighter;") Welcome Sam
  p.tis(style="font-weight:lighter;") This is your first web application.
  p.tis2(style="font-weight:lighter;") #[span(style="font-weight:bold") Usage :] vid-youtube, google-google, mes-web.whatsapp, wwd-wwd.com.au, uns-unsplash.

    
    script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")   
    script(src="script.js")
